<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <admin>
            <chaos_donkey>
                <enabled>0</enabled>
            </chaos_donkey>
        </admin>
    </default>
</config>
