<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <admin>
            <chaos_donkey>
                <enabled>0</enabled>
                <enable_reindex_all>1</enable_reindex_all>
                <enable_cache_flush>1</enable_cache_flush>
                <enable_graphql_pipeline_stress>1</enable_graphql_pipeline_stress>
                <cron_enabled>0</cron_enabled>
                <cron_expression>*/30 * * * *</cron_expression>
                <cron_allowed_hours></cron_allowed_hours>
            </chaos_donkey>
        </admin>
    </default>
</config>
